.movie-details-section {
  height: 95%;
  width: 50%;
  border: 3px solid black;
  box-shadow: 5px 5px black;
}

.background-img-container {
  width: 100%;
  height: 50%;
}

.background-img {
  height: 100%;
  width: 100%;
}

.movie-details-container {
  display: flex;
  width: 100%;
  height: 50%;
}

.poster-img {
  height: 100%;
  width: 30%;
}

.movie-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(192, 197, 202);
  padding: 0 20px 0 20px;
}

.movie-title-div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}

.overview-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.budget-div {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-weight: 600;
}
