/* Need to create a className for MovieDeatilContainer */

/* .all-movie-container {
  padding: 20px;
  width: 100%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
} */