.movie-detail-container {
  padding: 20px;
  width: 95%;
  height: 90%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.movie-detail {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.title {
  height: 5%;
}

h1 {
  margin: 0;
}
